<div class="log-in-menu">
  <h3>Log In</h3>
  <form class="sign-up-form" onsubmit="return false">
    <input type="text" id="log-in-email" placeholder="Email">
    <br>
    <br>
    <input type="password" id="log-in-password" placeholder="Password">
    <br>
    <br>
    <button class="form-button" (click)="logInUser();">LOG IN</button>
  </form>
</div>

<div class="sign-up-menu">
  <h3>Sign Up</h3>
  <form class="sign-up-form" onsubmit="return false">
    <input type="text" id="sign-up-email" placeholder="Email">
    <br>
    <br>
    <input type="text" id="sign-up-username" placeholder="Username">
    <br>
    <br>
    <input type="password" id="sign-up-password" placeholder="Password">
    <br>
    <br>
    <input type="password" id="sign-up-password-check" placeholder="Confirm Password">
    <br>
    <br>
    <button class="form-button" (click)="signUpUser();">SIGN IN</button>
  </form>
</div>
