<p></p>

<div id="display-container">
  <!-- Add the schedule open display in here -->
</div>

<div class="schedules-form">
  <form onSubmit="return false;" >
    <h3>Edit Schedules</h3>
    <label id="schedule-errormsg" class="errormsg"></label>
    <br>
    <label for="schedule-dropdown">Schedule</label><br>
    <select id="schedule-dropdown" data-dropup-auto="false" (change)="changedScheduleSelect();"></select>
    <br><br>
    <label for="new-name-input">New Schedule Name</label>
    <br>
    <input type="text" id="new-name-input" placeholder="For existing or new schedule">
    <br><br>
    <label for="description-input">Description</label>
    <br>
    <input type="text" id="description-input" placeholder="Describe your schedule (Optional)">
    <br><br>
    <label for="public-input">Public </label>
    <input type="checkbox" id="public-input" class="checkbox">
    <br><br>
    <button *ngIf="selectedSchedule; else addNew" class="form-button" (click)="updateSchedule();">UPDATE</button>
    <br><br>
    <button *ngIf="selectedSchedule" class="form-button" (click)="deleteSchedule();">DELETE</button>
    <ng-template #addNew>
      <button class="form-button" (click)="addNewSchedule();">ADD</button>
    </ng-template>
  </form>
</div>

<div class="schedules-form">
  <form onSubmit="return false;" >
    <h3>Search Courses</h3>
    <br>
    <label for="subject-input">Subect</label><br>
    <select id="subject-input" data-dropup-auto="false" (change)="fillCourselist();"></select>
    <br><br>
    <label for="course-input">Course</label><br>
    <select id="course-input" data-dropup-auto="false" (change)="getCourseName();"></select>
    <br><br>
    <label id="selected-course"></label>
    <br><br>
    <button class="form-button" (click)="addCourseToTempList();">ADD TO LIST</button>
  </form>
</div>

<div class="temp-list-container">
  <h3>Courses to Add/Update</h3>
  <ul id="to-add-list">
  </ul>
  <!-- Add the temporary courses in here -->
</div>
