<p></p>
<div class="schedules-form">
  <form onSubmit="return false;" >
    <h3>Edit Schedules</h3>
    <label id="schedule-errormsg" class="errormsg"></label>
    <br>
    <label for="subject-input">Subect</label><br>
    <select id="subject-input" data-dropup-auto="false" (change)="fillCourselist();"></select>
    <br><br>
    <label for="course-input">Course</label><br>
    <select id="course-input" data-dropup-auto="false" (change)="fillTimetable();"></select>
    <label id="schedules-errormsg" class="errormsg"></label>
    <br>
    <input type="text" id="log-in-email" placeholder="Email">
    <br>
    <br>
    <input type="password" id="log-in-password" placeholder="Password">
    <br>
    <br>
    <button class="form-button" (click)="Submit();">LOG IN</button>
  </form>
</div>

<div class="schedules-form">
  <form onSubmit="return false;" >
    <h3>Search Courses</h3>
    <br>
    <label for="subject-input">Subect</label><br>
    <select id="subject-input" data-dropup-auto="false" (change)="fillCourselist();"></select>
    <br><br>
    <label for="course-input">Course</label><br>
    <select id="course-input" data-dropup-auto="false" (change)="fillTimetable();"></select>
  </form>
</div>

<div class="blocks">
  <ul id="resultlist"></ul>
</div>
