<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><mat-icon aria-label="Side nav toggle icon">menu</mat-icon></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="home">Home</a>
      <a mat-list-item href="search">Search Courses</a>
      <a mat-list-item href="schedules/view">View Schedules</a>
      <a *ngIf="loggedIn" mat-list-item href="user">User</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Western Timetable</span>
    </mat-toolbar>

    <div class="content-handheld" *ngIf="isHandset$ | async; else notHandset">
      <router-outlet></router-outlet>
    </div>

    <ng-template #notHandset>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </ng-template>


  </mat-sidenav-content>
</mat-sidenav-container>
