<div class="courses-form">
  <form onSubmit="return false;" (mousedown)="clearErrors();">
    <h3>Search Direct</h3>
    <label id="query-errormsg" class="errormsg"></label>
    <br>
    <label for="subject-input">Subect</label><br>
    <select id="subject-input" data-dropup-auto="false" (change)="fillCourseDatalist();"></select>
    <br><br>
    <label for="course-input">Course</label><br>
    <input type="text" id="course-input" placeholder="eg. 3316A..." list="coursedatalist">
    <datalist id="coursedatalist">
    </datalist>
    <br><br>
    <label for="component-input">Component</label><br>
    <select id="component-input">
      <option value="NULL">ALL</option>
      <option value="LEC">LEC</option>
      <option value="TUT">TUT</option>
      <option value="LAB">LAB</option>
    </select>
    <br>
    <br>
    <button class="form-button" (click)="fillTimetable();">SEARCH</button>
  </form>
</div>

<div class="courses-form">
  <form onSubmit="return false;" (mousedown)="clearErrors();">
    <h3>Search Keyword</h3>
    <label id="keyword-errormsg" class="errormsg"></label>
    <br>
    <input type="text" id="keyword-input" placeholder="Enter keywords here">
    <br>
    <br>
    <button class="form-button" (click)="fillTimetableByKeyword();">SEARCH</button>
  </form>
</div>

<div class="blocks">
  <ul id="resultlist"></ul>
</div>
