.courses-form {
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 50px;
  background-color: #424242;
  padding: 50px;
  border-radius: 30px;
  vertical-align: top;
}

select {
  width: 250px;
  height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input {
  width: 250px;
  height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
