<div id="home-content" class="home-content">
  <p class="title">Welcome to <b>{{title}}</b></p>
  <p>
    This is a service that allows you to search through the Western University catalogue of courses. The site also allows you to create and browse schedules and reviews that other users have created.
  </p>
  <p>
    You can browse through public schedules and reviews, and through the catalogue of courses openly. However, if you wish to create your own schedules or review courses, you must log in to this website. You may do so below.
  </p>
  <p>
    To browse courses at Western University and their reviews, click on <b>Search Courses</b>.
  </p>
  <p>
    To view public course lists, click on <b>Public Schedules</b>.
  </p>
  <p>
    To view this website's DMCA policies, <b (click)="showDMCA();">click here</b>.
  </p>
  <p>
    To access other features, log in.
  </p>
  <br><br>
  <button class="form-button" (click)="redirectLogin();" *ngIf="isSignedOut">LOG IN</button>
</div>
